.home {
  text-align: center;
  padding: 0;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

.video-container {  /* Target the added class for responsiveness */
  position: relative;
  padding-bottom: 56.25%; /* Maintain aspect ratio (adjust if needed) */
  height: 0vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
  pointer-events: none; /* Prevents interactions with the video */
}

.hero-content {
  position: relative;
  z-index: 1; /* Places content above the video */
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%; /* Centers content vertically */
  padding: 20px;
  margin-top: 15%;
}

.hero-content h1 {
  color: #fff;
  font-family: 'Arial Black', sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: textGlow 1.5s ease-in-out infinite alternate;
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(12, 12, 19), 0 0 30px rgb(15, 15, 15), 0 0 40px rgb(20, 20, 20), 0 0 55px rgb(20, 20, 20), 0 0 75px rgb(17, 17, 17);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px rgb(10, 10, 10), 0 0 60px rgb(15, 15, 15), 0 0 70px rgb(8, 8, 8), 0 0 80px rgb(10, 10, 10), 0 0 100px rgb(7, 7, 7);
  }
}

.hero-content button {
  font-size: 2.0rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds readability */
  margin-top: 50%;
  bottom: 0;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
}

.about-container{
  font-size: 30px;
  border: #050505 2px solid;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.category {
  width: 30%;
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem 0; /* Add some margin for spacing */
  text-align: center;
}

.category img {
  height: 200px;
  width: 100%;
  border-radius: 8px;
}

.category h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.category p {
  font-size: 1rem;
  color: #555;
}

.view-more {
  margin: 1rem;
}

.view-more-button {
  background-color: #050505;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #fcfbfb;
  color: #050505;
  border: #050505 solid 2px;
}

.testimonials {
  padding: 60px 0;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  text-align: center;
  position: relative;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.testimonials-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 15px;
  align-self: center;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 400px;
  margin: 0 15px;
}

.testimonial-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}

.testimonial-card p:first-child {
  font-style: italic;
}

.testimonial-card p:last-child {
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.carousel .slide {
  display: flex;
  justify-content: center;
}

.carousel .control-arrow {
  display: none; /* Hide carousel navigation arrows */
}

.carousel .thumb {
  display: none; /* Hide the thumbs */
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  border: #050505 solid 2px;
  padding-top: 20px;
}

.logoi {
  text-align: center; /* Center align image and button */
  margin-bottom: 20px; /* Add space between each item */
  flex: 0 0 calc(10% - 10px); /* Set width for each item (4 items per row) */
}

.logoi img {
  width: 100%; /* Ensure image fills its container */
  max-width: 100px; /* Limit image width */
  justify-content: space-around;
  margin-bottom: 15px;
}

/* Mobile View */
@media only screen and (max-width: 768px) {
  .video-container {  /* Target the added class for responsiveness */
    position: relative;
    padding-bottom: 56.25%; /* Maintain aspect ratio (adjust if needed) */
    height: 0vh;
    overflow: hidden;
  }
  .category {
    width: 90%;
    margin: 1rem auto;
  }

  .hero {
    height: 40vh; /* Full viewport height */
    overflow: hidden;
    background: #000;
  }

  .hero-content button {
    font-size: 1.0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds readability */
    margin-top: 15%;
    bottom: 0;
  }
  
  .hero-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
  }
  
  .hero-content h1 {
    color: #fff;
    font-family: 'Arial Black', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: textGlow 1.5s ease-in-out infinite alternate;
  }
}