body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Ensure your entire app takes full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the root takes at least the full height of the viewport */
}

main {
  flex: 1; /* Allow the main content to grow and take available space */
}

footer {
  background-color: #f1f1f1; /* Adjust as needed */
  padding: 20px; /* Adjust as needed */
  text-align: center; /* Center the text in the footer */
}

